.card {
    background-color: #fff;
    padding: 0;
    width: 300px;
    /* matchar bildbredd */
    box-sizing: border-box;
}

.card:hover {
    cursor: pointer;
}

.wine-card-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.wine-card-link:hover {
    text-decoration: none;
}

.image {
    width: 100%;
    height: 400px;
    /* fast höjd */
    object-fit: cover;
    border-radius: 4px;
}
.title {
    color: #000;
        margin: 8px 0 0 0;
        font-weight: normal;
        text-decoration: none;
        font-weight: bold;
}

.price 
{
    color: #000;
    margin: 8px 0 0 0;
    font-weight: normal;
    text-decoration: none;
}