@import "../variables/fonts.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem; 

    .brand {
        text-decoration: none;

        h1 {
            font-family: 'Space Grotesk', sans-serif;
            color: #000;
            font-size: 1.8rem;
            font-weight: 600;
            margin: 0;
        }
    }

    nav {
        margin-left: auto;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 1rem;

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 1.1em;
                    font-family: 'Space Grotesk', sans-serif;
                }
            }
        }
    }

    .logo-link {
        margin-left: 2rem; 
        display: flex;
        align-items: center;

        .logo {
            height: 60px;
            width: auto;
        }
    }
}