.frontpage-upper-slice {
    display: flex;
    flex-direction: column;
}

.frontpage-image {
    width: 1512;
    height: 407;
    margin-top: 80px;
}

.frontpage-info {
    width: 40%;
    margin-left: auto;
    margin-top: 1rem;
    padding: 1rem;
    @media (max-width: 800px) {
        width: 80%;
        margin: 0 auto;
    }
}


.wineHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.allWinesLink {
    color: #4f4b4b;
    text-decoration: none;
    font-size: 1rem;
}

.allWinesLink:hover {
    text-decoration: underline;
}