.frontpage-upper-slice {
    display: flex;
    flex-direction: column;
}
.frontpage-image {
    width: 100%;
    margin-top: 80px;
}
.frontpage-info {
    width: 50%;
    margin-left: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.frontpage-winesList {
    margin-top: 60px;
}
