.winesList {
    padding: 1rem;

    .wineRow {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid black;

        .wineCardWrapper {
            flex: 0 0 25%;
            max-width: 25%;
            padding: 1rem;
            display: flex;

            &.withBorderRight {
                border-right: 1px solid black;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.upper {
    padding: 1rem;
    margin-top: 100px;
}

.loading,
.error {
    padding: 1rem;
    font-style: italic;
    color: #444;
}

@media (max-width: 1024px) {
    .wineCardWrapper {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 768px) {
    .wineCardWrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 480px) {
    .wineCardWrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
}