.instagram-section {
    margin-top: 100px;
    position: relative;
    padding: 0.4rem;

    .horizontal-line {
        border: 1px solid #ccc;
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .instagram-text-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin-bottom: 20px;

        .instagram-title {
            font-size: 2rem;
            font-weight: 500;
        }

        .instagram-handle {
            font-size: 1.5rem;
            color: #494747;
        }
    }

    .instagram-carousel {
        display: flex;
        justify-content: space-between; 
        overflow-x: auto;
        gap: 15px;
        overflow-y: hidden; 
        max-width: 100%; 
        height: 300px; 

        .carousel-image {
            width: 300px; 
            height: 100%;
            object-fit: cover;
            border-radius: 8px; 

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
}

@media (max-width: 768px) {
    .instagram-section {
        margin: 0 auto;
        width: 100%;
        .instagram-carousel {
            flex-direction: column; 
            height: auto;
        }

        .carousel-image {
            width: 100%; 
            height: auto; 
            margin: 0 auto;
        }
    }
}